@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
    --jaune: #f1c40f;
}

body {
    background-image: url("layered-waves-haikei (1).svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--jaune);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 37px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .6s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .6s;
}

.home-content h3 span {
    color: var(--jaune);
}

.home-content h1 {
    font-size: 58px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content p {
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0;
    line-height: 1.5;
    animation: slideLeft 1s ease forwards;
    animation-delay: .2s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--jaune);
    border-radius: 50%;
    font-size: 20px;
    color: var(--jaune);
    text-decoration: none;
    margin: 20px 15px 20px 0;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
}

.social-media a:hover {
    background: var(--jaune);
    color: #fff;
    box-shadow: 0 0 8px var(--jaune);
}

.home-img {
    padding-bottom: 5%;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Page About Me */


.about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10% 0;
}

.about-content {
    max-width: 600px;
}

.about-content p {
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.about-content h1 {
    color: var(--jaune);
    font-size: 58px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

.social-media-about a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--jaune);
    border-radius: 50%;
    font-size: 20px;
    color: var(--jaune);
    text-decoration: none;
    margin: 20px 15px 20px 0;
    transition: .5s ease;
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}

.social-media-about a:hover {
    background: var(--jaune);
    color: #fff;
    box-shadow: 0 0 8px var(--jaune);
}

.btn {
    background-color: var(--jaune);
    font-size: 20px;
    color: white;
    padding: 16px 28px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.about-header {
    display: flex;
    align-items: center;
}

.about-section {
    margin-left: 50px;
}

.about-text a {
    display: inline-block;
    color: var(--jaune);
    text-decoration: none;
    transition: .3s;
}

.about-text a:hover {
    transform: scale(1.05);
}

.about-right-section {
    display: flex;
    align-items: center;

}

.about-right-section i {
    font-size: 40px;
    color: var(--jaune);
}

.right {
    margin-right: 5%;
}

.about-right-title h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}

.card-tennis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
    margin-top: 50px;
    color: white;
}

.card-tennis i {
    margin-top: 20px;
}

.card-bike {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
    margin-top: 50px;
    margin-right: 50px;
    color: white;
}

.card-bike p {
    margin: 10px;
    text-align: center;
}

.card-tennis p {
    margin: 10px;
    text-align: center;
}


/* Page skills*/

.skills {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0;
}

.skills-content {
    max-width: 600px;
}

.skills-content h1 {
    font-size: 58px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
    color: var(--jaune);
}
.progress {
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
    width: 25%;
}

.progress-bar {
    border-radius: 5px;
    height: 100%;
    width: 0%;
}

.progress-bar1 {
    background-color: var(--jaune);
    transition: width 1s ease-in-out;
}

.progress-bar2 {
    background-color: var(--jaune);
    transition: width 1s ease-in-out;
}

.progress-bar3 {
    background-color: var(--jaune);
    transition: width 1s ease-in-out;
}






